#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <19 20>;
            layers = <0>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <15 16>;
            layers = <0>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <16 15 14>;
            layers = <0>;
        };

        tilde {
            bindings = <&kp GRAVE>;
            key-positions = <1 2>;
            layers = <0>;
        };

        apostrophe {
            bindings = <&kp SQT>;
            key-positions = <22 21>;
            layers = <0>;
        };

        capture_window_win {
            bindings = <&kp LA(PSCRN)>;
            key-positions = <18 19>;
            layers = <0>;
        };

        kp_minus {
            bindings = <&kp KP_MINUS>;
            key-positions = <18 19>;
            layers = <3>;
        };

        kp_plus {
            bindings = <&kp KP_PLUS>;
            key-positions = <19 20>;
            layers = <3>;
        };

        numlock {
            bindings = <&kp KP_NUMLOCK>;
            key-positions = <6 7>;
            layers = <3>;
        };

        np_backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <7 8>;
            layers = <3>;
        };

        kp_divide {
            bindings = <&kp KP_DIVIDE>;
            key-positions = <30 31>;
            layers = <3>;
        };

        kp_mult {
            bindings = <&kp KP_MULTIPLY>;
            key-positions = <32 31>;
            layers = <3>;
        };

        pg_up {
            bindings = <&kp PG_UP>;
            key-positions = <15 16>;
            layers = <1>;
        };

        pg_dn {
            bindings = <&kp PAGE_DOWN>;
            key-positions = <15 14>;
            layers = <1>;
        };

        bootloader_lt {
            bindings = <&bootloader>;
            key-positions = <15 16 14 13>;
            layers = <1>;
        };

        bootloader_rt {
            bindings = <&bootloader>;
            key-positions = <19 20 21 22>;
            layers = <2>;
        };

        del {
            bindings = <&kp DELETE>;
            key-positions = <13 14>;
            layers = <0>;
        };

        scrl {
            bindings = <&kp SLCK>;
            key-positions = <6 7 8>;
            layers = <3>;
        };

        screen_shot_mac {
            bindings = <&kp LS(LG(NUMBER_4))>;
            key-positions = <19 18>;
            layers = <2>;
        };

        fwd_slash_pipe {
            bindings = <&kp BACKSLASH>;
            key-positions = <34 33>;
            layers = <0>;
        };

        caps_lock {
            bindings = <&kp CAPSLOCK>;
            key-positions = <25 26>;
            layers = <0>;
        };
    };

    macros {
        SQL_IN_MACRO: SQL_IN {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp DQT &kp SQT &kp DQT &kp AMPS &kp LEFT &kp AMPS &kp DQT &kp SQT &kp DQT &kp AMPS &kp DQT &kp COMMA &kp SPACE &kp DQT &kp ENTER>;
            label = "SQL_IN";
        };
    };

    behaviors {
        hold_tap_length: hold_tap_length {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_LENGTH";
            bindings = <&none>, <&none>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "base";
            bindings = <
&none  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &none  &none  &mt LEFT_GUI A  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LSHIFT F  &kp G  &kp H  &mt RIGHT_SHIFT J  &mt LEFT_CONTROL K  &mt RIGHT_ALT L  &mt RIGHT_GUI SEMICOLON  &none  &none  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &none  &kp LGUI  &mo 1  &lt 3 ENTER  &kp SPACE  &mo 2  &kp RALT
            >;
        };

        down {
            display-name = "down";
            bindings = <
&none  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &none  &none  &SQL_IN_MACRO  &trans  &trans  &trans  &none  &none  &kp RS(MINUS)  &kp RS(EQUAL)  &kp RS(LEFT_BRACKET)  &kp RS(RIGHT_BRACKET)  &none  &none  &studio_unlock  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &none  &kp LGUI  &trans  &kp SPACE  &kp RET  &trans  &kp RALT
            >;
        };

        up {
            display-name = "up";
            bindings = <
&none  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET  &kp AMPS  &kp ASTERISK  &kp LPAR  &kp RPAR  &none  &none  &kp LEFT_ARROW  &kp DOWN  &kp UP_ARROW  &kp RIGHT_ARROW  &kp HOME  &none  &mt RSHIFT MINUS  &mt LEFT_CONTROL EQUAL  &mt RIGHT_ALT LEFT_BRACKET  &mt RIGHT_GUI RIGHT_BRACKET  &none  &none  &trans  &trans  &trans  &trans  &kp END  &none  &none  &none  &none  &none  &none  &kp LGUI  &trans  &kp SPACE  &kp RET  &trans  &kp RALT
            >;
        };

        num {
            display-name = "num";
            bindings = <
&none  &trans  &kp F7  &kp F8  &kp F9  &kp F12  &kp KP_CLEAR  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp BACKSPACE  &none  &none  &trans  &kp F4  &kp F5  &kp F6  &kp F11  &kp KP_SLASH  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_SUBTRACT  &none  &none  &trans  &kp F1  &kp F2  &kp F3  &kp F10  &kp KP_MULTIPLY  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_N3  &kp KP_PLUS  &none  &kp LGUI  &mo 1  &trans  &kp KP_ENTER  &kp KP_N0  &kp KP_DOT
            >;
        };

        mouse {
            display-name = "mouse";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &trans  &trans  &kp RIGHT_SHIFT  &kp LEFT_CONTROL  &kp RIGHT_ALT  &kp RIGHT_GUI  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp MCLK  &mkp LCLK  &mkp RCLK  &mkp LCLK  &mkp RCLK  &mkp MCLK
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
